name: "[CI] Ruff"

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repos
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
  ruff:
    - depends-on: build
    - name: Format check      
      run: "poetry run ruff format --check"
      
    - name: Check code
      run: "poetry run ruff check ."